USE [master]
GO
/****** Object:  Database [Nhom19_ToysStore]    Script Date: 24/11/2022 9:57:49 PM ******/
CREATE DATABASE [Nhom19_ToysStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nhom19_ToysStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Nhom19_ToysStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nhom19_ToysStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Nhom19_ToysStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nhom19_ToysStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nhom19_ToysStore]
GO
/****** Object:  User [hanh]    Script Date: 24/11/2022 9:57:49 PM ******/
CREATE USER [hanh] FOR LOGIN [hanh] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [cus]    Script Date: 24/11/2022 9:57:49 PM ******/
CREATE USER [cus] FOR LOGIN [cus] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [c]    Script Date: 24/11/2022 9:57:49 PM ******/
CREATE USER [c] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bo]    Script Date: 24/11/2022 9:57:49 PM ******/
CREATE USER [bo] FOR LOGIN [bo] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ben]    Script Date: 24/11/2022 9:57:49 PM ******/
CREATE USER [ben] FOR LOGIN [ben] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [b]    Script Date: 24/11/2022 9:57:49 PM ******/
CREATE USER [b] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [a]    Script Date: 24/11/2022 9:57:49 PM ******/
CREATE USER [a] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [role_for_customer]    Script Date: 24/11/2022 9:57:49 PM ******/
CREATE ROLE [role_for_customer]
GO
ALTER ROLE [role_for_customer] ADD MEMBER [hanh]
GO
ALTER ROLE [role_for_customer] ADD MEMBER [cus]
GO
ALTER ROLE [role_for_customer] ADD MEMBER [c]
GO
ALTER ROLE [role_for_customer] ADD MEMBER [ben]
GO
ALTER ROLE [role_for_customer] ADD MEMBER [b]
GO
ALTER ROLE [role_for_customer] ADD MEMBER [a]
GO
/****** Object:  Schema [role_for_customer]    Script Date: 24/11/2022 9:57:49 PM ******/
CREATE SCHEMA [role_for_customer]
GO
/****** Object:  UserDefinedFunction [dbo].[AddOrderNumber]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[AddOrderNumber]()
returns varchar(10)
as
begin
 declare @string varchar(10)
 set @string = 'ord'+'-'+CONVERT(varchar(4), (select count(order_number)+1000 from [Order])) 
 return @string
end
GO
/****** Object:  UserDefinedFunction [dbo].[AddPaymentID]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[AddPaymentID]()
returns varchar(10)
as
begin
 declare @string varchar(10)
 set @string = 'pay'+'-'+CONVERT(varchar(4), (select count(payment_id)+1000 from Payment)) 
 return @string
end
GO
/****** Object:  UserDefinedFunction [dbo].[AddToy]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[AddToy]()
returns varchar(10)
as
begin
 declare @id int
 set @id = (select count(toy_id)+100 from Toys)
 if (exists (select * from Toys where toy_id = @id))
  set @id = (select count(toy_id)+101 from Toys) 
 return @id
end
GO
/****** Object:  UserDefinedFunction [dbo].[AddVariation]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[AddVariation](@toy_id int)
returns varchar(10)
as
begin
 declare @string varchar(10)
 set @string = 'vari'+'-'+ CONVERT(varchar(3),@toy_id) +'-'+CONVERT(varchar(2), (select count(variation_id)+1 from Variation where product = @toy_id)) 
 return @string
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetOrderMoney]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetOrderMoney](@order varchar(10))
returns float
as
begin
 declare @money float
 select @money = order_total + tax from [Order] where order_number = @order
 return @money
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetProductPrice]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetProductPrice](@product int)
returns float
as
begin
 declare @price float
 select @price = price from Toys where toy_id = @product
 return @price
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetQuantity]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetQuantity](@variation varchar(10))
returns int
as
begin
 declare @quantity int

 select @quantity = sum(quantity) 
 from Cart_Items
 where is_active = 0 and [user] = CURRENT_USER
 group by variation
 having variation = @variation

 return @quantity
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetStock]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetStock](@variation_id varchar(10))
returns int
as
begin
 return (select variation_stock from Variation where variation_id = @variation_id)
end
GO
/****** Object:  UserDefinedFunction [dbo].[IsSoldOut]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[IsSoldOut](@variation_id varchar(10))
returns bit
as
begin
 DECLARE @result bit
 if(exists (select * from Variation where variation_id = @variation_id and variation_stock > 0  and is_active = 1))
   SET @result = 0
 else
   SET @result = 1
 return @result
end
GO
/****** Object:  UserDefinedFunction [dbo].[LastCart]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[LastCart]()
returns datetime
as
begin
 declare @last_cart_id datetime
 SELECT TOP 1 @last_cart_id = card_id FROM Cart ORDER BY card_id DESC
 return @last_cart_id
end
GO
/****** Object:  UserDefinedFunction [dbo].[OrderTotal]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[OrderTotal](@user varchar(100))
returns float
as
begin
 declare @sum float
 select @sum = sum(quantity * price)
 from Cart_Items join Variation
 on Cart_Items.variation = Variation.variation_id
 join Toys
 on Variation.product = Toys.toy_id
 where Cart_Items.is_active = 0
 group by [user]
 having [user] = @user

 return @sum
end
GO
/****** Object:  UserDefinedFunction [dbo].[setTax]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[setTax]()
returns float
as
begin
  declare @settax float
  set @settax = 0.02
  return @settax
end
GO
/****** Object:  UserDefinedFunction [dbo].[Tax]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[Tax](@user varchar(100))
returns float
as
begin
  declare @tax float
  set @tax = dbo.setTax() * dbo.OrderTotal(@user)
  return @tax
end
GO
/****** Object:  UserDefinedFunction [dbo].[WhatToy]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[WhatToy](@variation varchar(10))
returns int
as
begin
 declare @toy_id int
 select @toy_id = product from Variation where variation_id = @variation
 return @toy_id
end
GO
/****** Object:  Table [dbo].[Toys]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toys](
	[toy_id] [int] NOT NULL,
	[toy_name] [varchar](200) NOT NULL,
	[category] [varchar](50) NULL,
	[description] [varchar](500) NULL,
	[price] [float] NOT NULL,
	[image] [varchar](20) NULL,
	[stock] [int] NULL,
	[is_available] [varchar](11) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[modified_date] [datetime] NOT NULL,
 CONSTRAINT [PK_Toys] PRIMARY KEY CLUSTERED 
(
	[toy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Random6Toys]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[Random6Toys]
as
select top 6 toy_id,toy_name,price,[image] from Toys
order by newid()
GO
/****** Object:  Table [dbo].[Cart_Items]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Items](
	[user] [varchar](100) NULL,
	[product] [int] NOT NULL,
	[variation] [varchar](10) NOT NULL,
	[cart_items_id] [datetime] NOT NULL,
	[quantity] [int] NOT NULL,
	[is_active] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Variation]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variation](
	[variation_id] [varchar](10) NOT NULL,
	[product] [int] NOT NULL,
	[color] [varchar](20) NOT NULL,
	[size] [varchar](20) NOT NULL,
	[variation_stock] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[variation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OutOfStock]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[OutOfStock]
as
select sum(quantity) as quantity_of_cart, variation_stock from 
Variation join Cart_Items
on Variation.variation_id = Cart_Items.variation
where [user] = CURRENT_USER and Cart_Items.is_active = 0
group by Variation.variation_id, Variation.variation_stock
having sum(quantity) > variation_stock
GO
/****** Object:  View [dbo].[MyCartt]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[MyCartt]
as
 select distinct(Cart_Items.variation),Toys.toy_name,Variation.color, Variation.size, ne.tong
 from Cart_Items join Variation
 on Cart_Items.variation = Variation.variation_id
 join (select variation, sum(quantity) as tong from Cart_Items where [user] = CURRENT_USER and is_active = 0 group by variation) ne
 on Cart_Items.variation = ne.variation
 join Toys
 on Variation.product = Toys.toy_id
GO
/****** Object:  Table [dbo].[Order]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_number] [varchar](10) NOT NULL,
	[user] [varchar](100) NOT NULL,
	[payment] [varchar](10) NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NULL,
	[phone] [varchar](10) NOT NULL,
	[email] [varchar](50) NULL,
	[address] [varchar](100) NOT NULL,
	[order_note] [varchar](500) NULL,
	[order_total] [float] NULL,
	[tax] [float] NULL,
	[status] [varchar](10) NOT NULL,
	[is_payment] [bit] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[update_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MyOrder]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[MyOrder] as
select order_number,payment,first_name,last_name,phone,email,[address],order_note,order_total,tax,is_payment
from [Order]
where [user] = CURRENT_USER
GO
/****** Object:  View [dbo].[MyPayment]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[MyPayment]
as
select [Order].order_number,first_name,last_name,money_total,is_payment
from [Order] join
(select order_number,sum(order_total+tax) as money_total
from [Order]
group by order_number) ne
on [Order].order_number = ne.order_number
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [varchar](10) NOT NULL,
	[user] [varchar](100) NOT NULL,
	[payment_method] [varchar](100) NOT NULL,
	[amount_paid] [float] NULL,
	[status] [varchar](100) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[AllOrders]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[AllOrders]
as
select order_number,payment_method,first_name,last_name,phone,email,[address],order_note,order_total,tax
from [Order] left join Payment
on [Order].payment = Payment.payment_id


GO
/****** Object:  View [dbo].[AllOrdersToday]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[AllOrdersToday]
as
select order_number,payment_method,first_name,last_name,phone,email,[address],order_note,order_total,tax
from [Order] left join Payment
on [Order].payment = Payment.payment_id
where cast(created_date as date) =  cast(getdate() as date)

GO
/****** Object:  View [dbo].[UserPermission]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[UserPermission]
as
SELECT  pri.name As Username
,       pri.type_desc AS [User Type]
,       permit.permission_name AS [Permission]
,       permit.state_desc AS [Permission State]
,       permit.class_desc Class
,       object_name(permit.major_id) AS [Object Name]
FROM    sys.database_principals pri
LEFT JOIN
        sys.database_permissions permit
ON      permit.grantee_principal_id = pri.principal_id
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[card_id] [datetime] NOT NULL,
	[is_available] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_slug] [varchar](50) NOT NULL,
	[category_fullname] [varchar](500) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[category_slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[order] [varchar](10) NOT NULL,
	[payment] [varchar](10) NULL,
	[user] [varchar](100) NOT NULL,
	[product] [int] NOT NULL,
	[variations] [varchar](10) NOT NULL,
	[quantity] [int] NOT NULL,
	[product_price] [float] NOT NULL,
	[ordered] [bit] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[update_at] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [varchar](100) NOT NULL,
	[pass] [varchar](255) NOT NULL,
	[firstname] [varchar](50) NOT NULL,
	[lastname] [varchar](50) NOT NULL,
	[email] [varchar](100) NULL,
	[phone_number] [varchar](10) NULL,
	[avatar] [varchar](20) NULL,
	[is_admin] [bit] NOT NULL,
	[date_joined] [datetime] NOT NULL,
	[last_login] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cart] ([card_id], [is_available]) VALUES (CAST(N'2022-11-22T12:42:33.980' AS DateTime), 1)
INSERT [dbo].[Cart] ([card_id], [is_available]) VALUES (CAST(N'2022-11-22T16:48:37.377' AS DateTime), 1)
INSERT [dbo].[Cart] ([card_id], [is_available]) VALUES (CAST(N'2022-11-22T16:49:55.940' AS DateTime), 1)
GO
INSERT [dbo].[Cart_Items] ([user], [product], [variation], [cart_items_id], [quantity], [is_active]) VALUES (N'dbo', 103, N'vari-103-1', CAST(N'2022-11-23T10:36:47.670' AS DateTime), 1, 1)
INSERT [dbo].[Cart_Items] ([user], [product], [variation], [cart_items_id], [quantity], [is_active]) VALUES (N'dbo', 103, N'vari-103-1', CAST(N'2022-11-23T10:36:51.360' AS DateTime), 1, 1)
INSERT [dbo].[Cart_Items] ([user], [product], [variation], [cart_items_id], [quantity], [is_active]) VALUES (N'dbo', 102, N'vari-102-1', CAST(N'2022-11-23T14:49:03.380' AS DateTime), 2, 1)
GO
INSERT [dbo].[Category] ([category_slug], [category_fullname]) VALUES (N'action-figures', N'Action Figures')
INSERT [dbo].[Category] ([category_slug], [category_fullname]) VALUES (N'collectible-figures', N'Collectible Figures')
INSERT [dbo].[Category] ([category_slug], [category_fullname]) VALUES (N'dan-gian', N'Tro Choi Dan Gian')
GO
INSERT [dbo].[Order] ([order_number], [user], [payment], [first_name], [last_name], [phone], [email], [address], [order_note], [order_total], [tax], [status], [is_payment], [created_date], [update_at]) VALUES (N'ord-1000', N'dbo', NULL, N'b', N'b', N'123', N'b@b', N'hue', N'can than', 31, 0.62, N'New', 0, CAST(N'2022-11-23T14:37:18.847' AS DateTime), CAST(N'2022-11-23T14:37:18.847' AS DateTime))
INSERT [dbo].[Order] ([order_number], [user], [payment], [first_name], [last_name], [phone], [email], [address], [order_note], [order_total], [tax], [status], [is_payment], [created_date], [update_at]) VALUES (N'ord-1001', N'dbo', NULL, N'ben', N'ben', N'233', N'b@b', N'hue', N'can than', 20, 0.4, N'New', 0, CAST(N'2022-11-23T14:49:40.097' AS DateTime), CAST(N'2022-11-23T14:49:40.097' AS DateTime))
INSERT [dbo].[Order] ([order_number], [user], [payment], [first_name], [last_name], [phone], [email], [address], [order_note], [order_total], [tax], [status], [is_payment], [created_date], [update_at]) VALUES (N'ord-1002', N'dbo', NULL, N'a', N'a', N'a', N'a', N'a', N'can than', 15, 0.3, N'New', 0, CAST(N'2022-11-23T14:55:28.457' AS DateTime), CAST(N'2022-11-23T14:55:28.457' AS DateTime))
GO
INSERT [dbo].[OrderProduct] ([order], [payment], [user], [product], [variations], [quantity], [product_price], [ordered], [created_date], [update_at]) VALUES (N'ord-1000', NULL, N'dbo', 103, N'vari-103-1', 2, 15.5, 1, CAST(N'2022-11-23T14:37:18.870' AS DateTime), CAST(N'2022-11-23T14:37:18.870' AS DateTime))
INSERT [dbo].[OrderProduct] ([order], [payment], [user], [product], [variations], [quantity], [product_price], [ordered], [created_date], [update_at]) VALUES (N'ord-1001', NULL, N'dbo', 102, N'vari-102-1', 4, 5, 1, CAST(N'2022-11-23T14:49:40.123' AS DateTime), CAST(N'2022-11-23T14:49:40.123' AS DateTime))
INSERT [dbo].[OrderProduct] ([order], [payment], [user], [product], [variations], [quantity], [product_price], [ordered], [created_date], [update_at]) VALUES (N'ord-1002', NULL, N'dbo', 102, N'vari-102-1', 3, 5, 1, CAST(N'2022-11-23T14:55:28.483' AS DateTime), CAST(N'2022-11-23T14:55:28.483' AS DateTime))
GO
INSERT [dbo].[Payment] ([payment_id], [user], [payment_method], [amount_paid], [status], [created_at]) VALUES (N'pay-1000', N'dbo', N'bidv', 15.3, N'New', CAST(N'2022-11-24T10:00:01.067' AS DateTime))
INSERT [dbo].[Payment] ([payment_id], [user], [payment_method], [amount_paid], [status], [created_at]) VALUES (N'pay-1001', N'ben', N'bidv', 25.5, N'New', CAST(N'2022-11-24T15:34:02.680' AS DateTime))
GO
INSERT [dbo].[Toys] ([toy_id], [toy_name], [category], [description], [price], [image], [stock], [is_available], [created_date], [modified_date]) VALUES (102, N'Con Lan', N'dan-gian', N'dam chat Viet Nam', 5, N'102.jpg', NULL, N'already', CAST(N'2022-11-22T12:17:23.810' AS DateTime), CAST(N'2022-11-22T12:17:23.810' AS DateTime))
GO
INSERT [dbo].[User] ([user_id], [pass], [firstname], [lastname], [email], [phone_number], [avatar], [is_admin], [date_joined], [last_login]) VALUES (N'ben', N'123', N'ben', N'quang', N'ben1905@gmail.com', N'0123456', NULL, 0, CAST(N'2022-11-22T12:28:39.403' AS DateTime), NULL)
INSERT [dbo].[User] ([user_id], [pass], [firstname], [lastname], [email], [phone_number], [avatar], [is_admin], [date_joined], [last_login]) VALUES (N'bo', N'123', N'bao', N'thy', N'baothy2906@gmail.com', N'0123465', NULL, 1, CAST(N'2022-11-22T12:29:22.333' AS DateTime), NULL)
INSERT [dbo].[User] ([user_id], [pass], [firstname], [lastname], [email], [phone_number], [avatar], [is_admin], [date_joined], [last_login]) VALUES (N'cus', N'123', N'cus', N'cus', N'cus@123', N'123', NULL, 0, CAST(N'2022-11-24T10:59:16.683' AS DateTime), NULL)
GO
INSERT [dbo].[Variation] ([variation_id], [product], [color], [size], [variation_stock], [is_active], [created_date]) VALUES (N'vari-102-1', 102, N'white', N'small', 4, 1, CAST(N'2022-11-22T12:19:34.547' AS DateTime))
INSERT [dbo].[Variation] ([variation_id], [product], [color], [size], [variation_stock], [is_active], [created_date]) VALUES (N'vari-102-2', 102, N'white', N'medium', 18, 1, CAST(N'2022-11-22T12:20:00.950' AS DateTime))
INSERT [dbo].[Variation] ([variation_id], [product], [color], [size], [variation_stock], [is_active], [created_date]) VALUES (N'vari-103-1', 103, N'white', N'large', 12, 1, CAST(N'2022-11-22T12:20:30.080' AS DateTime))
GO
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [DF_Cart_card_id]  DEFAULT (getdate()) FOR [card_id]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[Cart_Items] ADD  CONSTRAINT [DF__Cart_Item__is_ac__73BA3083]  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('New') FOR [status]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [is_payment]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[OrderProduct] ADD  CONSTRAINT [DF__OrderProd__order__70DDC3D8]  DEFAULT ((1)) FOR [ordered]
GO
ALTER TABLE [dbo].[OrderProduct] ADD  CONSTRAINT [DF__OrderProd__creat__71D1E811]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[OrderProduct] ADD  CONSTRAINT [DF__OrderProd__updat__72C60C4A]  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Toys] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Toys] ADD  DEFAULT ('already') FOR [is_available]
GO
ALTER TABLE [dbo].[Toys] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Toys] ADD  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [date_joined]
GO
ALTER TABLE [dbo].[Variation] ADD  DEFAULT ((0)) FOR [variation_stock]
GO
ALTER TABLE [dbo].[Variation] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Variation] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Cart_Items]  WITH CHECK ADD FOREIGN KEY([cart_items_id])
REFERENCES [dbo].[Cart] ([card_id])
GO
ALTER TABLE [dbo].[Cart_Items]  WITH CHECK ADD FOREIGN KEY([product])
REFERENCES [dbo].[Toys] ([toy_id])
GO
ALTER TABLE [dbo].[Cart_Items]  WITH CHECK ADD FOREIGN KEY([variation])
REFERENCES [dbo].[Variation] ([variation_id])
GO
ALTER TABLE [dbo].[Cart_Items]  WITH CHECK ADD FOREIGN KEY([user])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([payment])
REFERENCES [dbo].[Payment] ([payment_id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([user])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK__OrderProd__order__73BA3083] FOREIGN KEY([order])
REFERENCES [dbo].[Order] ([order_number])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK__OrderProd__order__73BA3083]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK__OrderProd__payme__74AE54BC] FOREIGN KEY([payment])
REFERENCES [dbo].[Payment] ([payment_id])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK__OrderProd__payme__74AE54BC]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK__OrderProd__produ__75A278F5] FOREIGN KEY([product])
REFERENCES [dbo].[Toys] ([toy_id])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK__OrderProd__produ__75A278F5]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK__OrderProd__varia__76969D2E] FOREIGN KEY([variations])
REFERENCES [dbo].[Variation] ([variation_id])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK__OrderProd__varia__76969D2E]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK__OrderProdu__user__778AC167] FOREIGN KEY([user])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK__OrderProdu__user__778AC167]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([user])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Toys]  WITH CHECK ADD FOREIGN KEY([category])
REFERENCES [dbo].[Category] ([category_slug])
GO
ALTER TABLE [dbo].[Variation]  WITH CHECK ADD FOREIGN KEY([product])
REFERENCES [dbo].[Toys] ([toy_id])
GO
ALTER TABLE [dbo].[Cart_Items]  WITH CHECK ADD  CONSTRAINT [check_quantity_behon_stock] CHECK  (([quantity]<=[dbo].[GetStock]([variation])))
GO
ALTER TABLE [dbo].[Cart_Items] CHECK CONSTRAINT [check_quantity_behon_stock]
GO
ALTER TABLE [dbo].[Cart_Items]  WITH CHECK ADD  CONSTRAINT [check_quantity_not_negative] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Cart_Items] CHECK CONSTRAINT [check_quantity_not_negative]
GO
ALTER TABLE [dbo].[Toys]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[AddCartItems]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddCartItems] @variation_id varchar(10), @quantity int
as
begin
begin tran
 begin try
  insert into Cart(is_available) values (1)
  insert into Cart_Items([user],product,variation,cart_items_id,quantity) values (CURRENT_USER,dbo.WhatToy(@variation_id),@variation_id,dbo.LastCart(),@quantity)
  if @quantity > dbo.GetStock(@variation_id)
  begin
   print 'Not enough'
   rollback tran
  end
  if @@TRANCOUNT <= 1
  begin 
   commit tran trans
  end
 end try
 begin catch
  if @@TRANCOUNT > 1
  begin 
   print 'Error occured in transaction'
  end
  print 'Error occured'
  begin rollback tran end
 end catch 
end
GO
/****** Object:  StoredProcedure [dbo].[AddOrder]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddOrder] @first_name varchar(50), @last_name varchar(50), @phone varchar(10), @email varchar(50), @address varchar(100),@order_note varchar(500)  
as
begin
 begin tran
 begin try
	insert into [Order](order_number,[user],first_name,last_name,phone,email,[address],order_note,order_total,tax) 
	values (dbo.AddOrderNumber(),CURRENT_USER,@first_name,@last_name,@phone,@email,@address,@order_note,dbo.OrderTotal(CURRENT_USER),dbo.Tax(CURRENT_USER))
	if @@TRANCOUNT > 0
		commit tran
 end try
 begin catch
   if @@TRANCOUNT > 1 
   begin 
    print 'Error occured in transaction'
   end
   print 'Error occured'
   rollback tran
 end catch
end
GO
/****** Object:  StoredProcedure [dbo].[AddOrderProduct]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddOrderProduct] @order_number varchar(10), @variation varchar(10)
as
begin
 declare @product int, @quantity varchar(10), @price float
 set @product = dbo.WhatToy(@variation)
 set @quantity = dbo.GetQuantity(@variation)
 set @price = dbo.GetProductPrice(dbo.WhatToy(@variation))
 begin tran
  begin try
   insert into OrderProduct([order],[user],product,variations,quantity,product_price)
   values (@order_number,CURRENT_USER,@product,@variation,@quantity,@price)
   if dbo.GetStock(@variation) < 0
   begin 
    print 'Not enough'
    rollback tran
   end
   if @@TRANCOUNT > 0 
   begin 
    commit tran
   end
  end try
  begin catch
   if @@TRANCOUNT > 1 
   begin 
    print 'Error occured in transaction'
   end
   print 'Error occured'
   rollback tran
  end catch 
end
GO
/****** Object:  StoredProcedure [dbo].[AddPayment]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddPayment] @order_number varchar(10),@payment_method varchar(100), @amount_paid float
as
begin
 declare @payment varchar(10)
 set @payment = dbo.AddPaymentID()
 begin tran
 begin try
  insert into Payment(payment_id,[user],payment_method,amount_paid,[status]) values (@payment,CURRENT_USER,@payment_method,dbo.GetOrderMoney(@order_number),'New')
  update [Order]
  set payment = @payment, is_payment = 1
  where order_number = @order_number
  update [OrderProduct]
  set payment = @payment
  where [order] = @order_number
  if @@TRANCOUNT > 0
   commit tran
 end try
 begin catch 
   if @@TRANCOUNT > 1 
   begin 
    print 'Error occured in transaction'
   end
   print 'Error occured'
   rollback tran
 end catch 
end
GO
/****** Object:  StoredProcedure [dbo].[AddToys]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AddToys] @toy_name varchar(200), @category varchar(50), @description varchar(500), @price float, @image varchar(20)
as
begin
 insert into Toys(toy_id,toy_name,category,[description],price,[image])
 values (dbo.AddToy(),@toy_name,@category,@description,@price,@image)
end
GO
/****** Object:  StoredProcedure [dbo].[AddVariations]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AddVariations] @toy_id int, @color varchar(20), @size varchar(20), @variation_stock int
as
begin
 insert into Variation(variation_id,product,color,size,variation_stock)
 values (dbo.AddVariation(@toy_id),@toy_id,@color,@size,@variation_stock)
end
GO
/****** Object:  StoredProcedure [dbo].[AllOders_Proc]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AllOders_Proc]
as
begin
 select * from dbo.AllOrders
end
GO
/****** Object:  StoredProcedure [dbo].[AllOrdersToday_Proc]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AllOrdersToday_Proc]
as
begin
 select * from [AllOrdersToday]
end
GO
/****** Object:  StoredProcedure [dbo].[AllToysAdmin]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AllToysAdmin] 
as
begin
 select * from Toys
end
GO
/****** Object:  StoredProcedure [dbo].[AllVariationsAdmin]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AllVariationsAdmin]
as
begin
 select variation_id,toy_name,color,size,variation_stock from Variation join Toys
 on Variation.product = Toys.toy_id
end
GO
/****** Object:  StoredProcedure [dbo].[DelToy]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DelToy] @toy_id int
as
begin 
 delete from Toys where toy_id = @toy_id
end
GO
/****** Object:  StoredProcedure [dbo].[EditProfile]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EditProfile] @firstname varchar(50), @lastname varchar(50), @email varchar(100), @phone_number varchar(10)
as
begin  
 update [User] set firstname = @firstname, lastname = @lastname, email = @email, phone_number = @phone_number
 where [user_id] = CURRENT_USER
end
GO
/****** Object:  StoredProcedure [dbo].[FindToy]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[FindToy] @tukhoa varchar(200)
as
begin
 select TOP 1 toy_id,toy_name,price,[image] from Toys where toy_name like '%'+@tukhoa+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[GetCurrentUser]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetCurrentUser]
as
begin
select CURRENT_USER
end
GO
/****** Object:  StoredProcedure [dbo].[GetToy]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetToy] (@toy_id int)
as
begin 
select toy_id,toy_name,category,[description],price,[image] from Toys where toy_id = @toy_id
end
GO
/****** Object:  StoredProcedure [dbo].[GetVariation]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetVariation] @variation_id varchar(10)
as
begin
select * from Variation where variation_id = @variation_id
end
GO
/****** Object:  StoredProcedure [dbo].[GetVariations]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetVariations] @toy_id int
as
begin
select variation_id,product,color,size from Variation where product = @toy_id
end
GO
/****** Object:  StoredProcedure [dbo].[IsAdmin]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[IsAdmin]
as
begin 
 select is_admin from [User] where [user_id] = CURRENT_USER
end
GO
/****** Object:  StoredProcedure [dbo].[IsSoldOut_Proc]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[IsSoldOut_Proc] @variation_id varchar(10)
as
begin
select dbo.IsSoldOut(@variation_id)
end
GO
/****** Object:  StoredProcedure [dbo].[MyCart]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MyCart]
as
begin
 select * from dbo.MyCartt
end
GO
/****** Object:  StoredProcedure [dbo].[MyOrder_Proc]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MyOrder_Proc]
as
begin
select * from dbo.MyOrder
end
GO
/****** Object:  StoredProcedure [dbo].[MyPayment_Proc]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MyPayment_Proc]
as
begin
 select * from dbo.MyPayment
end
GO
/****** Object:  StoredProcedure [dbo].[MyUser]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MyUser] 
as
begin
 select [user_id],firstname,lastname,email,phone_number from [User] where [user_id] = CURRENT_USER
end
GO
/****** Object:  StoredProcedure [dbo].[OrderDetail]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[OrderDetail] @order varchar(10)
as
begin
 select [order],payment,Toys.toy_name,color,size,quantity,product_price 
 from OrderProduct join Variation
 on OrderProduct.variations = Variation.variation_id
 join Toys
 on Variation.product = Toys.toy_id
 where [order] = @order
end
GO
/****** Object:  StoredProcedure [dbo].[Random6Toys_Proc]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Random6Toys_Proc]
as
begin
select * from Random6Toys
end
GO
/****** Object:  StoredProcedure [dbo].[RegistCustomer]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[RegistCustomer] @user_id varchar(100), @pass varchar(255), @firstname varchar(50), @lastname varchar(50), @email varchar(100), @phone_number varchar(10)
as
begin
 insert into [User]([user_id],pass,firstname,lastname,email,phone_number,is_admin)
 values (@user_id,@pass,@firstname,@lastname,@email,@phone_number,0)
end
GO
/****** Object:  StoredProcedure [dbo].[UpdatePrice]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdatePrice] @toy_id int, @price float
as
begin
 update Toys
 set price = @price
 where toy_id = @toy_id
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateStock]    Script Date: 24/11/2022 9:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateStock] @variation_id varchar(10), @variation_stock int
as
begin
 update Variation
 set variation_stock = @variation_stock
 where variation_id = @variation_id
end
GO
USE [master]
GO
